#viewport {
  background-color: #f9f9f9f9;
  min-height: 100vh;
}

.inner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #2c2c2c;
  padding: 10px 0;
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  font-size: 20px;
  color: #fff;
  line-height: 1em;
}

header a {
  line-height: 1em;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header a:hover {
  opacity: .7;
}

.demo-body {
  padding: 75px 0;
}

.demo-body__top h1 {
  font-size: 38px;
  line-height: 1.4em;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  font-weight: 500;
}

.demo-body__top p {
  line-height: 1.5em;
  font-size: 20px;
}

.demo-body__list {
  margin-top: 75px;
}

.demo-body__list > li:not(:last-child) {
  padding-bottom: 45px;
  margin-bottom: 45px;
  border-bottom: 1px solid #666;
}

.demo-body__list h2 {
  font-size: 24px;
  padding-left: 12px;
  position: relative;
  margin-bottom: 10px;
}

.demo-body__list h2::before {
  content: "";
  width: 4px;
  height: 90%;
  background-color: #276ff7;
  position: absolute;
  top: 2px;
  left: 0;
}

.demo-body__list p {
  font-size: 16px;
  line-height: 1.5em;
}

.demo__pre-type {
  margin-top: 45px;
  font-size: 14px;
  line-height: 1em;
  display: block;
  background-color: #276ff7;
  color: #fff;
  height: 30px;
  line-height: 28px;
  border-radius: 3px;
  width: 80px;
  text-align: center;
}

pre {
  margin-top: 7px;
}

pre code {
  font-family: 'IBM Plex Mono' !important;
}

.slick-default,
.slick-app {
  margin-top: 25px;
}

.slick-nav {
  margin-top: 15px;
}
